.container-information-resumen {
    width: 100%;
    height: 100%;
    background-color: var(--color-bg);
    background-color: green;
    border-radius: 0 3px 3px 0;
    /*transform: translateX(-100%);*/
    position: absolute;
    top: 0;
    left: 200%;
    transition: all 0.5s;
}