.container-information-about-me {
    width: 100%;
    height: 100%;
    /*background-color: var(--color-bg);*/
    background-color: red;
    border-radius: 0 3px 3px 0;
    transform: translateX(30%);
    position: absolute;
    top: 0;
    left: 50%;
}


#about-me:checked ~ .container-information-about-me {
    transform: translateX(0)
}