.container-main .container-full .container-menu {
    width: 74px;
    height: 100%;
    /*border: 1px solid red;*/
    z-index: 100;
}

.container-main .container-full .container-menu .menu-container {
    width: 74px;
    height: 375px;
    /*border: 1px solid green;*/
    border-radius: 5px;
    background-color: var(--color-bg);
}

.container-main .container-full .container-menu .menu-container input {
    /*display: none;*/
}

.container-main .container-full .container-menu .menu-container .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.container-main .container-full .container-menu .menu-container .menu li {
    list-style: none;
    text-align: center;
    flex: auto;
    /*border-bottom: .1px solid #EEEEEE;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main .container-full .container-menu .menu-container .menu li a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(255,255,255,.85);
}


.container-main .container-full .container-menu .menu-container .menu li a .home-main, .username, .resume, .portfolio, .blog-main, .contact {
    width: 40px;
    height: 30px;
    display: block;
    margin: 0 auto;
    color: rgba(255,255,255,.85);
}